<a href="https://colab.research.google.com/github/krillato/-Income-record-record---expense/blob/main/Introduction_to_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<div style="text-align: center"><img src="https://www.python.org/static/img/python-logo.png" height="35"><a href='https://mike.cpe.ku.ac.th/01204111' target='_blank'><img src="https://mike.cpe.ku.ac.th/~un/images/logo_mike.png"></a></div>

# An introduction to Python

Python is a popular programming language that is reliable, flexible, easy to learn, free to use on all operating systems, and supported by both a strong developer community and many free libraries. Python supports all manners of development, including web applications, web services, desktop apps, scripting, data science, scientific computing, and Jupyter notebooks. Python is a language used by many universities, scientists, casual developers, and professional developers alike.

> **Note**: This notebook is designed to have you run code cells one by one, and several code cells contain deliberate errors for demonstration purposes. As a result, if you use the **Cell** > **Run All** command, some code cells past the error won't be run. To resume running the code in each case, use **Cell** > **Run All Below** from the cell after the error.

In [1]:
print('The "Hello, World to Python", for DAT Round01 (DAY1: 14MAR2020)')
print('Brought to you by MikeLab.Net @2020')
print('\tLast updated: 14MAR2020..')

The "Hello, World to Python", for DAT Round01 (DAY1: 14MAR2020)
Brought to you by MikeLab.Net @2020
	Last updated: 14MAR2020..

## The Zen of Python..

In [38]:
# added by Kun Toto
import this

##Python's Hello World..

In [39]:
print("Hello, World..")

Hello, World..

* `print()` is a built-in Python function that will print the argument string to the default output, ie., the screen.

* In Python, string can be a sequence of any printable character that are written within the double `"` or single quote `'`. The escape sequences `\n` (newline) and `\t` (tab) are sometimes found in string, too.

In [4]:
print('Hello, lady and gentlemen:\n\t- Welcome to DAT@KU_SRC.\n\t- We hope you will enjoy our course!')

Hello, lady and gentlemen:
	- Welcome to DAT@KU_SRC.
	- We hope you will enjoy our course!

* In case we need to print either double `"` or single quote `'`, we can easily do in many ways.

In [5]:
print("'หวังว่าทุกท่านจะสนุกกับการเรียนการสอนที่พวกเราชาว DAT_KU ได้มอบให้ตลอดวันนี้นะครับ'")

'หวังว่าทุกท่านจะสนุกกับการเรียนการสอนที่พวกเราชาว DAT_KU ได้มอบให้ตลอดวันนี้นะครับ'

In [6]:
print("\"Today\'s one of the greatest days to begin learning Python.\"")

"Today's one of the greatest days to begin learning Python."

* When we put more strings as the arguments of a `print()` command, separated each by comma, Python will consecutively print those strings one by one and separated them with a space.

In [7]:
print('Hello,', "welcome to the", 'Pythonion', "World!")

Hello, welcome to the Pythonion World!

* By default, the `print()` command will insert the `\n` at the end of its input arguments. However, we can modify that with the additional `end=" "` parameter.

In [41]:
print('There must be some word today.', end=' // ')
print('From my boyfriend so far away.')
print('Please Mr. Postman look and see.', end=" // ")
print('If there\'s a letter a letter for me.')

There must be some word today. // From my boyfriend so far away.
Please Mr. Postman look and see. // If there's a letter a letter for me.

##Your exercise 1:


Write a program that shows this content on screen, using the only following 4 `print()` commands.


---


EARTH FROM SPACE

The blue marble as seen from space. We hear the calm voice of Jerry Maguire, talking just to us.

JERRY: Alright so this is the world and there are five billion people on it. When I was a kid there were three, It is hard to keep up.

AMERICA FROM SPACE

The great continent through mist and swirling skies.
(Satellites and other pieces of sky casting equipment float by.)

JERRY: That is better. That is America.
See, America still sets the tone for the world...


---

In [42]:
print('EARTH FROM SPACE')
print('\t- replace me with your solution')
print('\t- replace me with your solution')
print('\t- replace me with your solution')

EARTH FROM SPACE
	- replace me with your solution
	- replace me with your solution
	- replace me with your solution

## Comments

* Comments in Python start with the *hash* character, <font color='00ff00'>`#`</font>, and extend to the end of the current line. A comment may appear at the start of a line or following whitespace or code, but not within a string literal. 

* A hash character within a string literal is just a hash character. Since comments are to clarify code and are not interpreted by Python, they may be omitted when typing in examples.

In [43]:
# this is the first comment
spam = 1  # and this is the second comment
          # ... and now a third!
text = "# This is not a comment because it's inside a pair of double quotes."
# print('This print() command is ignored, now.')
print(text)

# This is not a comment because it's inside a pair of double quotes.

* There is *no multi-lines* comment in Python! However, if we need it, we can use **opened** and **closed** triple quotes (either `"""` or `'''`), as followed.

In [46]:
# this is the second comment
import sys, platform

'''This is an example of
   a virtual multi-lines
   comment.'''  
''' print('Hi, my name is Python ' + sys.version) '''

mystr = """'This illustrates a multi-lines
   comment in Python.'"""
print(mystr)
print('My Python version is ' + platform.python_version())

'This illustrates a multi-lines
   comment in Python.'
My Python version is 3.7.12

##Literal and basic datatypes

A literal represents a <font color='ff00ff'>fixed-value object</font> in the code, such as `13`, `26.4`, `"house"`.

An object value is always associated with a type (also known as a <font color='00ffff'>class</font>).

Python comes with many built-in data types. Some basic built-in types are:

* `int` for integers, e.g., `18`, `26`, `13829`
* `float` for numbers that allow fractions, e.g., `281.829`, `5.0`, `2.9979e8`
* `str` for sequences of characters, e.g., `"Hello."`, `'How are you?'`, `"I'm fine."` (Observe that either single quotes and double quotes may be used for enclosing strings.)

The built-in function `type()` can be used to determine the data type of an object. 

For other built-in types, see [this page](https://docs.python.org/3/library/stdtypes.html#built-in-types).

In [12]:
type(10)

int

In [13]:
type(3.15)

float

In [14]:
type("Hello, welcome to DAT..")

str

In [15]:
type("""String with both ' and " inside""")

str

In [16]:
type('''Another string with both ' and " inside''')

str

In [17]:
type("""This form also supports multiple lines.
Like this.""")

str

## Aritmetic expressions

* The Python interpreter can act as a simple calculator: type an (arithemetic) expression, it evaluates and then outputs the resulting **value**.

* Expression syntax is straightforward: the operators `*`, `\`, `+`, and `-` work just like in most other programming languages (such as Pascal or C); parentheses (`()`) can be used for grouping and order or *precedence*. For example:

In [18]:
2 + 2

4

In [19]:
50 - 5*6

20

In [20]:
8 / 5  # Division always returns a floating point number.

1.6

In [21]:
(50 - 5*6) / 4

5.0

In [22]:
50-5*6/4

42.5

* Division (`/`) always returns a float. To do [floor division](https://docs.python.org/3.5/glossary.html#term-floor-division) and get an integer result (discarding any fractional result) you can use the `//` operator; to calculate the *remainder* you can use `%`:

In [23]:
17 / 3  # Classic division returns a float.

5.666666666666667

In [24]:
17 // 3  # Floor division discards the fractional part.

5

In [25]:
17 % 3  # The % operator returns the remainder of the division.

2

In [26]:
5 + 3 * 2

11

* Use the `**` operator to calculate powers:

In [27]:
5 ** 2  # 5 squared

25

In [28]:
2 ** 7  # 2 to the power of 7

128

* `**` has higher precedence than `-`; if you want a negative base, use parentheses:

In [29]:
-3**2  # Same as -(3**2)

-9

In [30]:
(-3)**2

9

* We can calculate $ \sqrt[3]{8} $ with `8**(1/3)`

In [31]:
8**(1/3)

2.0

* Note that when we use float as one of the operand of an arithmetic expression, the result is always a float value.

In [32]:
7.5 % 4

3.5

In [33]:
7 // 3.0

2.0

##Your exercise 2:

Write the following arithmetic expressions in Python.

#####a) $ \frac{3}{5} + \frac{2}{10} $

#####b) $ 1 + 2 \times 3 - 4 $

#####c) $ 5 \times 6 + 7 \times 8 - \frac{2}{5} $

#####d) $ 3 \times (4 + 1 - 2 \times 5 + 6) $

#####e) $ \frac{1 + 2 + 3 +4}{5 + 6 + 7 + 8} $

#####f) $ 2 \times \frac{3 + 4}{5 + \frac{6}{7}} $

#####g) $\frac{2^{3^4}+5^{6+7}}{22/7}$

#####h) $ \sqrt[2]{\left( 7 + 5 + 3 \times 9 \right)} $

#####i) $ \frac{5 + 4^{2.75}}{\sqrt[2]{2.5}} + 3^2 $

##Variables

* A <font color='ff00ff'>variable</font> can be assigned to point to an object so that its value can be used later. It serves as a label to that object.
    
* A variable has the value and the type of the object it currently points to, so it can be used as an expression.

* Assigning values to multiple variables in a single statement can be done with commas.

* The equal sign (`=`) assigns a value to a variable:

In [34]:
width = 20
height = 5 * 90
area = width * height
print('Area is', area, end='.\n')
print('Done')

Area is 9000.
Done

* For ease of reading, we can use `_` between words in a variable.

In [35]:
width, height = 40, 30
area_of_triangle = 1/2 * width * height
print('width =', width, 'and height =', height)
print('area = 1/2 x width x height =', area_of_triangle)

width = 40 and height = 30
area = 1/2 x width x height = 600.0

In [36]:
a = 2**7               
b = 5**(1/2)           
print("a = ", a)
print("b = ", b)
a**1/2 + b**3    # be carefule with the precedence

a =  128
b =  2.23606797749979

75.18033988749895

* If a variable is not "defined" (assigned a value), using it produces an error:

In [37]:
n  # Try to access an undefined variable.

NameError: ignored

* Python provides full support for floating point numbers; operators with mixed type operands convert the integer operand to floating point:

In [ ]:
3 * 3.75 / 1.5

In [ ]:
7.0 / 2

* In interactive mode and in Jupyter notebooks, the last printed expression is assigned to the variable `_`. This means that when you're using Python as a desk calculator, its somewhat easier to continue calculations. For example:

In [ ]:
tax = 12.5 / 100
price = 100.50
price * tax

In [ ]:
price + _

In [ ]:
round(_, 2)

* Treat the `_` variable as read-only. Don't explicitly assign a value to it -- doing so creates an independent local variable with the same name, thereby masking the built-in variable with its magic (ie., *unpredictable*) behavior.

* In addition to `int` and `float`, Python supports other types of numbers, such as [`Decimal`](https://docs.python.org/3.5/library/decimal.html#decimal.Decimal) and [`Fraction`](https://docs.python.org/3.5/library/fractions.html#fractions.Fraction). Python also has built-in support for [complex numbers](https://docs.python.org/3.5/library/stdtypes.html#typesnumeric), and uses the `j` or `J` suffix to indicate the imaginary part (e.g. `3+5j`).

##Your exercise 3:

a) Complete the code fragment below to compute the harmonic mean of values from varibles `a`, `b`, `c` using the following equation:
$$ \mathrm{hmean}(a, b, c) = \frac{3}{\frac{1}{a} + \frac{1}{b} + \frac{1}{c}} $$

In [ ]:
a = 10
b = 20
c = 30
    # fill your code here
print(hmean)

b) Giving values to variables `width`, `length` and `depth`, compute the volume of an ellipsoid from the following equation:
$$ \mathtt{volume} = \frac{4}{3} \times \pi \times \mathtt{width} \times \mathtt{length} \times \mathtt{depth} $$

In [ ]:
# define variable width to 20
width = 20

# define variable length to 30
length = 30

# define variable depth to 40
depth = 40

# Note that pi equals 22/7, so compute your ellipsoid to variable volume here
volume =

print("volume = ", volume)

##Functions

###Built-in functions

* Python comes with a number of <font color='ff00ff'>built-in</font> functions, which can be used right away in a program.
* All of the functions we have used previously are built-in functions.
* A complete list of available built-in functions can be found [here](https://docs.python.org/3/library/functions.html).

In [ ]:
print('Hello')

In [ ]:
a = int(32.5)
print(a)

In [ ]:
b = len('Welcome to KU, Sriracha campus.')
print(b)

In [ ]:
type(float(25))

In [ ]:
price = input('Enter price: ')
price = float(price)
print(price)

In [ ]:
max(3,1,5,8.5,-6.2)

In [ ]:
pow(2,8)

In [ ]:
type(print('Eastern seabaord..')) # return value of type() is None

In [ ]:
q, r = divmod(17, 3)   # two variables can be specified to store the two returned values
print(q, r)

###Modules and import statement

* Many functions are not built in, but stored in separate modules which can be <font color='ff00ff'>imported</font> into a program.
For example, the [math module](https://www.programiz.com/python-programming/modules/math) stores various math-related objects such as mathematical functions and constants.

In [ ]:
import math
x,y = 3,4   # similar to x=3 and y=4
print(math.sqrt( (x**2) + (y**2) + (math.pi/2) ))

In [ ]:
from math import sqrt,pi
x,y = 3,4   # similar to x=3 and y=4
print(sqrt( (x**2) + (y**2) + (pi/2)) )

###Creating functions

* A new <font color='ff00ff'>function</font> can be created using the <font color='00ffff'>`def`</font> keyword
* The function body (aka. code block) must be properly indented.
* Python recommends using four spaces for indentation. 
* Here we just prefer to use only two spaces for indentation.

```python
def function_name(parameter):
  code_block
```

In [ ]:
def say_hello():
  print("Hello.")
  print("How are you?")

say_hello()
print()
type(say_hello)

In [ ]:
def say_hello(yourname, myname):
  print(f"Hello, {yourname}.")
  print(f"My name is {myname}.")

say_hello('Thomas', 'Jerry')

In [ ]:
def song(animal, sound):
  print(f"Old MACDONALD had a farm E-I-E-I-O")
  print(f"And on his farm he had a {animal} E-I-E-I-O")
  print(f"With a {sound} {sound} here")
  print(f"And a {sound} {sound} there")
  print(f"Here a {sound}, there a {sound}")
  print(f"Everywhere a {sound} {sound}")

song('dog', 'hong hong')

* In a funtion, we can use <font color='ff00ff'>return</font> command to send the result of its execution back to the caller.

In [ ]:
def myadd(a, b):
  return a + b

print(myadd(2, 3))
print(myadd('Hello, ', 'Wolrd'))

In [ ]:
def mymul(a, b):
  return a * b

print(mymul(2, 3))
print(mymul('Hi', 5))
print(mymul(3, 'morning..'))

In [ ]:
import math

def circle_area(radius):
    area = math.pi * (radius**2)
    return area

print(circle_area(7))

##Boolean expressions

* A <font color='ff00ff'>Boolean</font> expression is an expression that gets evaluated to either <font color='00ffff'>true</font> or <font color='00ffff'>false</font>.

###Relational operators

* The most basic form of Boolean expressions is to test relation between two objects such as equality, inequality, ordering, etc.

Such a Boolean expression uses one of the following relational operators:

* `x == y` true when `x` equals `y` (`x` and `y` may be both numbers or both strings)
* `x != y` true when `x` does not equal `y` (`x` and `y` may be both numbers or both strings)
* `x < y` true when `x` is less than `y` (`x` and `y` are numbers), or `x` comes before `y` (`x` and `y` are strings)
* `x > y` true when `x` is greater than `y` (`x` and `y` are numbers), or `x` comes after `y` (`x` and `y` are strings)
* `x <= y` true when `x < y` or `x == y`
* `x >= y` true when `x > y` or `x == y`

All Boolean expression are of type <font color='ff00ff'>`bool`</font>. Python provides two literals of fixed Boolean values: <font color='00ffff'>`True`</font> and <font color='00ffff'>`False`</font>.

In [ ]:
x, y = 4, 2
type(x<y)

In [ ]:
True

In [ ]:
False

In [ ]:
type(True)

###Logical operators

* One or more boolean expressions can be combined to build a more complex expression using logical operators.

In [ ]:
x = 8
1 < x and x < 10

In [ ]:
x = 20
1 < x and x < 10

In [ ]:
x = 10
x < 2 or x > 8

In [ ]:
x < 2 or x > 20

In [ ]:
not (x < 2)

##Your exercise 4:

The logical operators have the following precedence: `not`, `and`, `or`.

In [ ]:
not 'Hello'!='World' or 4>3 and 3>2

Fill in the necessary assignment statement for variables `x` and `y`:

In [ ]:
#x =
not(x%11 == 0) # need False as the answer

In [ ]:
#x = 
#y =
(x**2 + 2*x + 3*y - y**2 == 0) or (2*x == y+5) or ((x > y) and (y>1000)) # need True as the answer

##Selective control statments

###If statement

* We can let Python to either execute or not execute a block of statment.

* For the following `if` statement, if BooleanExpression has been evaluated to `True`, the True_Codeblock will be executed, the False_Codeblock otherwise.

```python
if BooleanExpression:
  True_Codeblock

if BooleanExpression:
  True_Codeblock
else:
  False_Codeblock
```

In [ ]:
price = 40
height = input('Enter height: ')
height = int(height)
if height < 140:
  price = 40 * 0.5 # this code block will be executed if height is < 140 
  print('Hello, kid..')
print('Your BTS ticket costs', price, 'baht.')

In [ ]:
total = int(input('Enter price: '))
if total >= 1000:
  discount = (total-1000)*0.15 + 1000*0.05
else:
  discount = total*0.05
total = total - discount
print(f'Total price: {total:.1f} Baht.')

##Your exercise 5:

1. A parking service will cost you a normal rate of 20 baht/hour. However, if you have parked your car for 24 hours or longer, an extra fee of 100 baht is added to the total fee. Complete the code fragment below so that it correctly computes the parking fee for the given number of hours.

```python
# sample code fragment
hours = int(input('Enter how long your parking (in hour(s)):'))
fee = hours * 20
if __CHANGEME__:
  __COMPLETEME__
print('Your fee to pay:', fee)
```

In [ ]:
# Your turn here
hours = int(input('Enter how long your parking (in hour(s)):'))
#

2. An Electric Appliance Store sells used TVs, DVD players, and audio systems. All products of the same kind have the same price as shown in the table below:

|Product|Price per unit (bahts)|
|:----:|:----:|
|TV|6000|
|DVD player|1500|
|Audio System|3000|

The store offers 20% discount to the customer who purchases at least 20,000 bahts.

Write a program that reads the number of each product purchased, then calculates and prints total payment (with possible 20% discount) in 2 decimal points.

**Example output 1**
```python
How many TVs? 1
How many DVD players? 0
How many Audio Systems? 1
Total price: 9000.00 baht.
Your payment: 9000.00 baht. Thank you!
```

**Example output 2**
```python
How many TVs? 0
How many DVD players? 2
How many Audio Systems? 3
Total price: 12000.00 baht.
Your payment: 12000.00 baht. Thank you!
```

**Example output 3**
```python
How many TVs? 2
How many DVD players? 3
How many Audio Systems? 2
Total price: 22500.00 baht.
You have got a discount of 4500.00 baht.
Your payment: 18000.00 baht. Thank you!
```

In [ ]:
# Your Python solution here

##Nested if statement

In [ ]:
x = int(input('Input x: '))
if x%3 == 0:
  if x%5 == 0:
    print("x is divisible by 3 and 5")
  else:
    print("x is divisible by 3, but not 5")
else:
  if x%5 == 0:
    print("x is divisible by 5, but not 3")
  else:
    print("x is neither divisible by 3 nor 5")

In [ ]:
score = int(input('Enter score: '))
if score >= 80:
  text = "excellent"
else:
  if score >= 70:
    text = "good"
  else:
    if score >= 60:
      text = "fair"
    else:
      if score >= 50:
        text = "poor"
      else:
        text = "fail"
print('Your grade:', text)

In [ ]:
score = int(input('Enter score: '))
if score >= 80:
  text = "excellent"
elif score >= 70:
  text = "good"
elif score >= 60:
  text = "fair"
elif score >= 50:
  text = "poor"
else:
  text = "fail"
print('Your grade:', text)

##Your exercise 6:

The Body Mass Index (BMI) of a person can be determined by his/her weight and height using the formula:

<center>
$\text{BMI} = \frac{\text{weight}}{\text{height}^2}$
</center>

where weight is in kilograms and height is in meters.

The BMI value roughly determines the weight status according to the table:

|BMI Range | Interpretation |
|:---:|:---:|
| BMI<18.5 | underweight |
| 18.5<=BMI<25 | normal |
| 25<=BMI<=30 | overweight |
| BMI>=30 | obese |

Write a Python program that takes a person's weight (in kg) and height (in cm), calculates the BMI, and determines the status using the table above. BMI value is displayed with two decimal places.

**Example output**
```python
Enter your weight in kg: 65
Enter your height in cm: 175
Your BMI is 21.22.
You are normal.
```

In [ ]:
# Your code here

##Repetition statements

###Basic repetition

In [ ]:
for _ in range(5):
  print("Hello")

In [ ]:
n = int(input("How many times you want to say goodbye? "))
for _ in range(n):
  print("Goodbye")

In [ ]:
def f(n):
  return n*(n+1)/2

print(" n | f(n)")
print("---+-----")
for n in range(5):
  print(f" {n+1} | {f(n+1):3.0f}")

In [ ]:
def is_leap_year(year):
  return ((year%4 == 0) and (year%100 != 0)) or (year%400 == 0)

for i in range(1970,2021):
  if is_leap_year(i):
    print(f"AD {i} is a leap year.")

In [ ]:
import math

def f(n):
  return 15 + 10*math.sin(n/10)

print("  n | f(n)")
print("----+-------------------------------------------------")
for n in range(0,100,5):
  spaces = " " * round(f(n))
  print(f" {n:2} | {spaces}*")

###Simple while loop

* The <font color='00ffff'>`while`</font> statement allows writing repetition that can be controlled with a condition instead of a sequence. Its structure is similar to the if statement but the body is repeated as long as the condition is true.

```python
while condition:
  code_block
```

In [ ]:
i = 1
while i < 20:
  print(i, end=' ')
  i = i+2

###Sentinel-controlled loop

* A for-loop cannot be used when a sequence to be repeated is not known in advance, for examples, asking a sequence of numbers from user, or checking external sensors when programming a robot.
* The stop condition is controlled by a <font color='ffff00'>sentinel</font>.

The following code asks user to keep entering numbers until the user enters -1. Then the summation is computed and displayed.

In [ ]:
total = 0
number = float(input("Enter a number (-1 to stop): "))
while number != -1:
    total = total + number
    number = float(input("Enter a number (-1 to stop): "))
print(f"Total is {total}")

##Your exercise 7:

Write a Python program that reads a sequence of numbers from user, and prints out the maximum, minimum, and the average of those numbers with two decimal places. The program stops reading input when the user simply presses [Enter] without entering any number. (i.e., the sentinel is an empty input.)

**Example output 1**
```python
Enter a number (just [Enter] to quit): 10
Enter a number (just [Enter] to quit): 
The maximum is 10.00
The minimum is 10.00
The average is 10.00
```

**Example output 2**
```python
Enter a number (just [Enter] to quit): 10.2
Enter a number (just [Enter] to quit): 20.5
Enter a number (just [Enter] to quit): -2.6
Enter a number (just [Enter] to quit): -8.98
Enter a number (just [Enter] to quit): 
The maximum is 20.50
The minimum is -8.98
The average is 4.78
```

**Example output 3**
```python
Enter a number (just [Enter] to quit): 
Nothing to do.
```

In [ ]:
# your Python code here

##Breaking out of loop

* The <font color='ff00ff'>`break`</font> statement allows program execution to break out of the current loop without waiting until the next condition check.

In [ ]:
total = 0
while True:
  number = float(input("Enter a number (-1 to stop): "))
  if number == -1:
    break
  total = total + number
print(f"Total is {total}")

* The following code demonstrates how <font color='ff00ff'>`for`</font> and <font color='ff00ff'>`break`</font> statements can be combined to find whether there is a positive integer root less than 100 to the equation:
<center>
$2^n - 64 = 51n^4 - 249n^2$
</center>

In [ ]:
found = False
for n in range(1,101):
  if 2**n - 64 == 51*n**4 - 249*n**2:
    found = True
    break
if found:
  print(f"A root {n} is found.")
else:
  print("No root is found.")

##Nested loops

* Similar to <font color='ff00ff'>nested `if`</font> structures, loops (both for and while) can also be nested.

In [ ]:
for i in range(0,3):
  print(f"i = {i}")
  for j in range(5,7):
    print(f"  j = {j}")

In [ ]:
for i in range(0,5):
  print(f"i = {i}")
  for j in range(0,i):
    print(f"  j = {j}")

In [ ]:
while True:
  msg = input("Enter a message (or ENTER to quit): ")
  if msg == "":
    break
  for c in msg:
    print(c)
print('Done')

##Your exercise 8:

1. Complete the code fragment so that it gives the output as shown.

```
   *
  ***
 *****
*******
   *
  ***
 *****
*******
   *
  ***
 *****
*******    
```

In [ ]:
for i in ____:
    print(f"i = {i}")
    for j in ____:
        print(f"  j = {j}")

2.  Complete the following code so that it defines a function $f(n)$ as follows:

<center>$f(n)=\sum_{i=1}^n\sum_{j=1}^i(i+j)$</center>

In [ ]:
def f(n):
  sum = 0
  for i in ____:
    for j in ____:
      sum = sum + ____
  return sum

3. Write a Python program that draws a christmas tree with the size and the number of levels specified by user.

```
Enter tree size: 3
Enter tree levels: 2
  *
 ***
*****
  *
 ***
*****
```

```
Enter tree size: 5
Enter tree levels: 3
    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********
    *
   ***
  *****
 *******
*********
```

```
Enter tree size: 2
Enter tree levels: 4
 *
***
 *
***
 *
***
 *
***
```

## Strings

Besides numbers, Python can also manipulate strings. Strings can enclosed in single quotes (`'...'`) or double quotes (`"..."`) with the same result. Use `\` to escape quotes, that is, to use a quote within the string itself:

In [ ]:
'spam eggs'  # Single quotes.

In [ ]:
'doesn\'t'  # Use \' to escape the single quote...

In [ ]:
"doesn't"  # ...or use double quotes instead.

In [ ]:
'"Yes," he said.'

In [ ]:
"\"Yes,\" he said."

In [ ]:
'"Isn\'t," she said.'

* In the interactive interpreter and Jupyter notebooks, the output string is enclosed in quotes and special characters are escaped with backslashes. Although this output sometimes looks different from the input (the enclosing quotes could change), the two strings are equivalent. The string is enclosed in double quotes if the string contains a single quote and no double quotes, otherwise its enclosed in single quotes. The [`print()`](https://docs.python.org/3.6/library/functions.html#print) function produces a more readable output by omitting the enclosing quotes and by printing escaped and special characters:

In [ ]:
'"Isn\'t," she said.'

In [ ]:
print('"Isn\'t," she said.')

In [ ]:
s = 'First line.\nSecond line.'  # \n means newline.
s  # Without print(), \n is included in the output.

In [ ]:
print(s)  # With print(), \n produces a new line.

* If you don't want escaped characters (prefaced by `\`) to be interpreted as special characters, use <font color='ff00ff'>*raw strings*</font> by adding an `r` before the first quote:

In [ ]:
print('C:\some\name')  # Here \n means newline!

In [ ]:
print(r'C:\some\name')  # Note the r before the quote.

* String literals can span multiple lines and are delineated by triple-quotes: `"""..."""` or `'''...'''`. 

* End of lines are automatically included in the string, but it's possible to prevent this by adding a `\` at the end of the line. 

* For example, without a `\`, the following example includes an extra line at the beginning of the output:

In [ ]:
print("""
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

* Adding a `\` removes that extra line:

In [ ]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

* Because Python doesn't provide a means for creating multi-line comments, developers often just use triple quotes for this purpose. In a Jupyter notebook, however, such quotes define a string literal which appears as the output of a code cell:

In [ ]:
"""
Everything between the first three quotes, including new lines,
is part of the multi-line comment. Technically, the Python interpreter
simply sees the comment as a string, and because it's not otherwise
used in code, the string is ignored. Convenient, eh?
"""

* For this reason, it's best in notebooks to use the `#` comment character at the beginning of each line, or better still, just use a Markdown cell!

* Strings can be *concatenated* (glued together) with the `+` operator, and repeated with `*`:

In [ ]:
# 3 times 'un', followed by 'ium'
3 * 'un' + 'ium'

* Two or more *string literals* (that is, the values enclosed in quotes) placed next to each other are automatically concatenated:

In [ ]:
'Py' 'thon'

In [ ]:
'Digital''Academy'"Thailand.."

* Automatic concatenation works only with two literals; it does not work with variables or expressions, so the following cell produces an error:

In [ ]:
prefix = 'Py'
prefix 'thon'  # Can't concatenate a variable and a string literal.

* The following cell likewise produces an error:

In [ ]:
('un' * 3) 'ium'

* To concatenate variables, or a variable and a literal, we rather use `+` operator:

In [ ]:
prefix = 'Py'
prefix + 'thon'

* Automatic concatenation is particularly useful when you want to break up long strings:

In [ ]:
text = ('Put several strings within parentheses '
            'to have them joined together.')
text

* Strings can be *indexed* (subscripted), with the first character having index 0. There is no separate character type; a character is simply a string of size one:

In [ ]:
word = 'Python'
word[0]  # Character in position 0.

In [ ]:
word[5]  # Character in position 5.

In [ ]:
type(word[5]) # There is no char type in Python

* Indices may also be negative numbers, which means to start counting from the end of the string. Note that because -0 is the same as 0, negative indices start from -1:

In [ ]:
word[-1]  # Last character.

In [ ]:
word[-2]  # Second-last character.

In [ ]:
word[-6]

In [ ]:
word[-7] # be careful of the string ndex out of range!

* In addition to indexing, which extracts individual characters, Python also supports <font color=ff00ff>slicing</font>, which extracts a substring. 
* To slice, you indicate a *range* in the format `start:end`, where the start position is included but the end position is excluded:

In [ ]:
word[0:2]  # Characters from position 0 (included) to 2 (excluded).

In [ ]:
word[2:5]  # Characters from position 2 (included) to 5 (excluded).

* If you omit either position, the default start position is 0 and the default end is the length of the string:

In [ ]:
word[:2]   # Character from the beginning to position 2 (excluded).

In [ ]:
word[4:]  # Characters from position 4 (included) to the end.

In [ ]:
word[-2:] # Characters from the second-last (included) to the end.

* This characteristic means that `s[:i] + s[i:]` is always equal to `s`:

In [ ]:
word[:2] + word[2:]

In [ ]:
word[:4] + word[4:]

In [ ]:
word[-3:] + word[:-3] # what can we do if we need the 'Python' as output?

* Attempting to use an index that is too large results in an error:

In [ ]:
word[42]  # The word only has 6 characters.

* However, when used in a range, an index that's too large defaults to the size of the string and does not give an error. This characteristic is useful when you always want to slice at a particular index regardless of the length of a string:

In [ ]:
word[4:42]

In [ ]:
word[42:]

* Python strings are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), which means they cannot be changed. Therefore, assigning a value to an indexed position in a string results in an error:

In [ ]:
word[0] = 'J'

* The following cell also produces an error:

In [ ]:
word[2:] = 'py'

* A slice it itself a value that you can concatenate with other values using `+`:

In [ ]:
'J' + word[1:]

In [ ]:
word[:2] + 'Py'

* A slice, however, is not a string literal and cannot be used with automatic concatenation. The following code produces an error:

In [ ]:
word[:2] 'Py'    # Slice is not a literal; produces an error

The built-in function [`len()`](https://docs.python.org/3.5/library/functions.html#len) returns the length of a string:

In [ ]:
s = 'supercalifragilisticexpialidocious'
len(s)

* The built-in function `type()` will return str:

In [ ]:
type(s)

## Lists

* Python knows a number of <font color=ff00ff>compound</font> data types, which are used to group together other values. 
* The most versatile is the [list](https://docs.python.org/3.5/library/stdtypes.html#typesseq-list), which can be written as a sequence of comma-separated values (items) between square brackets. 
* Lists might contain items of different types, but usually the items all have the same type.

In [ ]:
squares = [1, 4, 9, 16, 25]
squares

* Like strings (and all other built-in [sequence](https://docs.python.org/3.5/glossary.html#term-sequence) types), lists can be indexed and sliced:

In [ ]:
squares[0]  # Indexing returns the item.

In [ ]:
squares[-1]

In [ ]:
squares[-3:]  # Slicing returns a new list.

* All slice operations return a <font color=ff00ff>new</font> list containing the requested elements. This means that the following slice returns a new (shallow) copy of the list:

In [ ]:
newList = squares[:]
newList

* Lists also support concatenation with the `+` operator:

In [ ]:
squares + [36, 49, 64, 81, 100]

* Unlike strings, which are [immutable](https://docs.python.org/3.5/glossary.html#term-immutable), lists are a [mutable](https://docs.python.org/3.5/glossary.html#term-mutable) type, which means you can change any value in the list:

In [ ]:
cubes = [1, 8, 27, 65, 125]  # Something's wrong here ...
4 ** 3  # the cube of 4 is 64, not 65!

In [ ]:
cubes[3] = 64  # Replace the wrong value.
cubes

* Use the list's <font color=ff00ff>`append()`</font> method to add new items to the end of the list:

In [ ]:
cubes.append(216)  # Add the cube of 6 ...
cubes.append(7 ** 3)  # and the cube of 7.
cubes

* You can even assign to slices, which can change the size of the list or clear it entirely:

In [ ]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
letters

In [ ]:
# Replace some values.
letters[2:5] = ['C', 'D', 'E']
#letters[2:3] = ['C', 'D', 'E']
letters

In [ ]:
# Now remove them.
letters[2:5] = []
letters

In [ ]:
# Clear the list by replacing all the elements with an empty list.
letters[:] = []
letters

* The built-in [`len()`](https://docs.python.org/3.5/library/functions.html#len) function also applies to lists:

In [ ]:
letters = ['a', 'b', 'c', 'd']
len(letters)

* <font color=ff00ff>`in`</font> can be used to check whether an item is a member of a list.

In [ ]:
'Hello' in ['World', 'Hello', 'DAT']

###Insert and Delete

* As we have already seen, we can add an additional member to the end of a list, using `append()`:

In [ ]:
my_cubes = [1, 8, 27, 64, 125]
print(my_cubes)

my_cubes.append(6**3)
print(my_cubes)

* However, we can also insert an additional member $i$ at any position to a list, using <font color=ff00ff>`insert(pos, `$i$`)`</font>:

In [ ]:
my_cubes.append(8**3)
print(my_cubes)

my_cubes.insert(6, 7**3)
print(my_cubes)

* We can also delete a member from a list, e.g. <font color=ff00ff>`del`</font> `my_cubes[6]` will delete the number `343` that is at position `6` from the above `my_cubes` list.

In [ ]:
print(my_cubes)
del my_cubes[6]
print(my_cubes)

In [ ]:
del my_cubes[5:]
print(my_cubes)

###Nested List

* You can nest lists, which means to create lists in which contain other lists. For example:

In [ ]:
a = ['a', 'b', 'c']
n = [1, 2, 3]
x = [a, n]
x

In [ ]:
x[0]

In [ ]:
x[0][1]

###Sort and Sorted List

* To sort the items in a list, we use <font color=ff00ff>`sort()`</font> and <font color=ff00ff>`sorted(..)`</font>:

In [ ]:
alist = [3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 7, 4]
alist.sort()
print(alist) # now items has been sorted and changed.

In [ ]:
old_alist = [3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 7, 4]
new_alist = sorted(old_alist)
new_alist2 = sorted(old_alist, reverse=True)
print('Old alist:', old_alist)
print('New alist:', new_alist)
print('New alist2:', new_alist2)

In [ ]:
blist = [2.0, "World", 'Hello', 1, True]
print(blist)
new_blist = sorted(blist) # Why cannot we sort this list?
print(new_blist)

###List Traversal

In [ ]:
scores = [37.5, 72.0, 84.5, 67.0, 80.0, 78.5, 87.5, 48.5]
print(scores, end='\n\n')

print('Finding the scores higher than 80..')
for s in sorted(scores, reverse=True):
  if s >= 80:
    print(s, end=' ')
print()

###List Comprehension

* List comprehensions in Python are constructed as follows:
```python
list_variable = [x for x in iterable]
```

In [ ]:
S = [x**2 for x in range(10)]
print(S)

V = [2**i for i in range(13)]
print(V)

M = [x for x in S if x % 2 == 0]
print(M)

sentence = 'the rocket came back from mars'
vowels = [i for i in sentence if i in 'aeiou']
print(vowels)

##Your exercise 9:

a) Given a list of integers `[3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 4]`, write a Python code to delete the duplicate members in that list and print the resulting list in ascending order.

In [ ]:
old_list = [3, 8, 5, 10, 2, 9, 7, 2, 4, 6, 3, 8, 1, 4]
new_list = []

# implement your code here

print(new_list) # we need [1, 2, 3, 4, 5, 6, 7, 8, 9, 10] as output

b) Write a Python code that asks user to enter a sequence of scores with an empty input to indicate the end of the score sequence. The program then prints out all the scores ranked from the highest to the lowest.

**Sample run 01:**
```python
Input student score (or ENTER to end): 13↵
Input student score (or ENTER to end): 19↵
Input student score (or ENTER to end): 10↵
Input student score (or ENTER to end): ↵
Rank #1: 19`
Rank #2: 13`
Rank #3: 10`
```
**Sample run 02:**
```python
Input student score (or ENTER to end): 87↵
Input student score (or ENTER to end): 56↵
Input student score (or ENTER to end): 73↵
Input student score (or ENTER to end): 59↵
Input student score (or ENTER to end): 90↵
Input student score (or ENTER to end): 72↵
Input student score (or ENTER to end): ↵
Rank #1: 90
Rank #2: 87
Rank #3: 73
Rank #4: 72
Rank #5: 59
Rank #6: 56
```

In [ ]:
# implement your code here

c) Define a list Q, using list comprehension, to follow the following mathematical formula:

<center>$Q = \{\text{x is divisible by 2 and 5 }: \text{ x in } \{0..100\}\}$</center>

In [ ]:
# implement your list comprehension statement here

##Tuple

We can say that <font color=ff00ff>tuple</font> is a <font color='00ffff'>constant list</font> that its inside member cannot be changed.

Tuple uses `( )` to delimit itself, and uses comma to separate its members.

* We can define an (x, y) coordination system using tuple that have 2 inside members.

In [ ]:
coor1 = (3, 5)
coor2 = (4, 7)
print(coor1)
print(coor2)

* A tuple can have any number of members but at least two.

In [ ]:
my_tuple = (3, 8, 5, 10, 2, 9, 7, 6, 3, 8, 1, 4)
print(my_tuple)

* As in a list, member in a tuple can be any type.

In [ ]:
type((1,2.3,'Hello'))

* Member in a tuple can be accessed using the list's indexing style

In [ ]:
tmp = (1,2.3,'Hello')
a, b, c = tmp[0], tmp[1], tmp[2]
print(a, b, c)
# and we can use `len()` to see how many members are in a tuple, too.
len(tmp)

*  Tuple can be sliced, too.

In [ ]:
numbers = (0,1,2,3.0,'four',5,6,7,8,9,10)
for i in numbers[1:5]:
  print(i)

* Two tuples can be compared, consecutively pair by pair,
 and if that pair are the same, the next pair is evaluated next.

In [ ]:
(1, 2, 3) < (1, 2, 4)        # the 1st tuple is less than the 2nd one, since 3 < 4

* The 1st tuple is less than the 2nd one, since the 2nd one is longer.

In [ ]:
(1, 2, 4) < (1, 2, 3, 0)

* Could you explain what's happened here?

In [ ]:
(1, 'Hello', 3.0) < (1, 3, 'World')

* We can also use tuple as a member of list, and loop within that list.

In [ ]:
student_scores = [
    ('John', 35.5), ('Mary', 73.0), ('Cindy', 83.5), ('Sean', 65.0),
    ('Barry', 81.0), ('Mark', 79.5), ('Eugene', 87.0), ('Bob', 49.5)
]

for (name, score) in student_scores:
    print(name, ':', score)

* We can also append a tuple into a list.

In [ ]:
student_scores = [
    ('John', 35.5), ('Mary', 73.0), ('Cindy', 83.5), ('Sean', 65.0),
    ('Barry', 81.0), ('Mark', 79.5), ('Eugene', 87.0), ('Bob', 49.5)
]

student_scores.append( ('Peter', 90.0) ) 

for (name, score) in student_scores:
    print(name, ':', score)

##Dictionary

* <font color=ff00ff>Dictionary</font> is a data structure that each member connects a <font color=00ffff>key</font> to a <font color=00ffff>value</font>.
* Key can be number, string, and though a tuple, and value can be object of any type in Python.
* Dictionary is different from list such that members in list can be accessed sequentially by integer index from `0`, while those members in dictionary can be accessed by keys that could be any data types.

* We can create an empty dictionary using `{ }`, and assign or append new pair members like as follows.

In [ ]:
dico = {}
dico['one']='un'
dico['two']='deux'
dico['three']='trois'
dico['four']='quatre'
dico

In [ ]:
dico[5] = 'ห้า'
dico

* We can creat the whole dictionary using `key` `:` `value` pairs, separated by comma as follows.

In [ ]:
a={1:"Hello", 2.0:"เวริลด์,", "สาม":"welcome to", None:"204111", 
   False:"Waoh, it cannot be True!", (1,2):'ไม่จริงนะ'}
a

In [ ]:
a[(1,2)]

* One simple way to browse into a dictionary is to use the `for key in dicVar.keys()` statement as follows.

In [ ]:
print(f'{"key"}\t{"value"}')
print(f'---------------------------------')
for k in a: # You can try for k in a.keys(): too
  if k==None or type(k)==type((1,1)):
    print(f'{k}\t{a[k]}')
  else:
    print(f'{k:<}\t{a[k]}')

* We can change the value corresponding to the old key using `dicVar[key]` `=` `newValue`
* Said in another way, if we append the new value with the old key, that old key will bind with that new value.

In [ ]:
a[False] = True
a

* (Revisite) loop within members in a dictionary, using `for` `key` `in` `dictVar:`.

In [ ]:
student_dict = { 'Jerry': 37.5, 'Mary': 73.0, 'Cindy': 83.5, 'Sean': 65.0,
                  'Bertran': 82.4, 'Tom': 69.5, 'Eugene': 87.0, 'Boby': 47.5}

for name in student_dict:
    print(name, ':', student_dict[name])

* We can sort the keys in the dictionary, using `sorted()`.

In [ ]:
student_dict = { 'Jerry': 37.5, 'Mary': 73.0, 'Cindy': 83.5, 'Sean': 65.0,
                  'Bertran': 82.4, 'Tom': 69.5, 'Eugene': 87.0, 'Boby': 47.5}


for name in sorted(student_dict):
    print(name, ':', student_dict[name])

* We can also use `dictVar.items()` to extract both key and value (i.e., a tuple of key and value) during iteration.

In [ ]:
student_dict = { 'Jerry': 37.5, 'Mary': 73.0, 'Cindy': 83.5, 'Sean': 65.0,
                  'Bertran': 82.4, 'Tom': 69.5, 'Eugene': 87.0, 'Boby': 47.5}

for name, score in sorted(student_dict.items()):
    print(name, ':', score)

* We can use `del`, a keyword in Python, to delete an object (aka. a key-value pair) member in a dictionary.

In [ ]:
print(sorted(student_dict))
del student_dict['Boby']
print(sorted(student_dict))

In [ ]:
del student_dict['Toto'] # an Keyerror error occurs when deleting a non-existent key

* Python dictionary method `get()` returns a value for the given key. If key is not available then returns default value `None`.
`dict.get(key, default = None)`

In [ ]:
dict = {'Name': 'Zabra', 'Age': 7}
print("Value : %s" %  dict.get('Age'))
print("Value : %s" %  dict.get('Education', "Never"))

##Your exercise 10:

a) Complete the following program to let it asks for student's name;
* if that input student's name is found, print his/her score,
* else let the program ask for score for this new student and append his/her name and score in the dictionary. 
* the program continue to ask for the student's name, and loop for ever, till the user press only *ENTER* to exit the loop and print the student's dictionary.

In [ ]:
# student's dictionary
student_dict = { 'Jerry': 37.5, 'Mary': 73.0, 'Cindy': 83.5, 'Sean': 65.0,
                  'Bertran': 82.4, 'Tom': 69.5, 'Eugene': 87.0, 'Boby': 47.5}

# forever loop
while True:
    # get student's name from the user
    name = input('Enter student name: ')
    # if the input is a null struing, stop the program using break
    __________       # complete your code here
       
    # if name is found in student_dict 
    if __________ :
        # print name and score to screen
        print('Name:', name, 'Score =', __________ )       # complete your code here
    else:
        # seem that this is a new student, so get his/her score
        score = float(input('Enter score: '))
        # record the new name and score into the dictionary
        __________       # complete your code here        
    print()
        
print(student_dict)

b) Write a program to test whether a student is in the following status:
* "probation" if score < 50
* "excellent" if score >= 80
* "very good" if score >= 70
* "good if score" >= 60
* "pass" otherwise.

In [ ]:
# student's dictionary
student_dict = { 'Jerry': 37.5, 'Mary': 73.0, 'Cindy': 83.5, 'Sean': 65.0,
                  'Bertran': 82.4, 'Tom': 69.5, 'Eugene': 87.0, 'Boby': 47.5}

# use for loop to browse through the sorted dictionary to test each student and print his/her status
for __________ :
    # he/she is on probation if socre < 50 
    if __________ :
        print( __________ , 'is on probation.')
    __________ 
    __________

##Files

* We can have access to file by opening a <font color=ff00ff>file handler</font> using function `open(filename, read_write_method)`, while `read_write_method` could be either `r`, `w` or `a`.

In [ ]:
fhd01 = open('test.txt', 'w') # open a new file named 'test.txt' for writing
for i in range(1, 6):
  fhd01.write(f'{10*i}\n')    # fileHandler.write(..) to write that string
fhd01.close() # always close file to let data write through the file
print('Done')

In [ ]:
fhd01 = open('test.txt', 'r') # open file 'test.txt' for reading
mysum = 0
for line in fhd01:
  print(line.strip())         # strip the \n at the end of line
  mysum = mysum + int(line)   # sum up the number read 
fhd01.close()
print(f'Sum = {mysum}')
print('Done')

In [ ]:
# What strip() does?
# It will strip either white space or \n at the beginning and at the end.
' Hello, World \n'.strip()

* We can also read all characters in advance with method `readlines()`, the result will be a list that contains lines as the following example:

In [ ]:
lines = open('test.txt').readlines()
print(lines)
for i in range(len(lines)):
  lines[i] = int(lines[i].strip())
print(lines)

* We can append the additional text (aka. line) at the end of an existing file.

In [ ]:
fhd01 = open('test.txt', 'a') # note that we assign the parameter 'a' here
fhd01.write('60\n')
fhd01.write('70\n')
fhd01.write('80\n')
fhd01.write('90\n')
fhd01.write('100\n')
fhd01.close()

fhd01 = open('test.txt')
lines = fhd01.readlines()
fhd01.close()
print(lines)

##Your exercise 11:

a) From the above `test.txt` file that contains
```python
['10\n', '20\n', '30\n', '40\n', '50\n', '60\n', '70\n', '80\n', '90\n', '100\n']
```
create a new file called `test2.txt` that has only line whose integer value is divisible by 20. Then read the resulting `test2.txt` and print all of its lines.

In [ ]:
print(lines)

# your code here

print('') # need ['20\n', '40\n', '60\n', '80\n', '100\n'] as output

b) Given a positive input integer from the user (<10), write the output as the following example to file `test3.txt`.

```python
Enter an integer: 5↵
50   40   30   20   10
40   30   20   10
30   20   10
20   10
10
The above 5 lines will be written to test3.txt
Done..
```

You can use this code fragment to read and print the resulting file `test3.txt`:

```python
ifhd = open('test3.txt')
for line in ifhd:
  print(line.strip())
ifhd.close()
```

In [ ]:
n = int(input('Enter n: '))

ofhd = open('test3.txt', 'w')

for i in __________ :
  for j in __________ :
    ofhd.write( __________ )
  ofhd.write('\n')

ofhd.close()

c) Read the above file `test3.txt`, and sum up the integers on each line.

For example, if the content of `test3.txt` is as the following:

```python
50   40   30   20   10
40   30   20   10
30   20   10
20   10
10
```

The resulting output should be:

```python
150
100
60
30
10
```

##Basic OOP

* Sometime <font color='#00ff00'>Object Oriented Programming</font> (**OOP**) helps us to write the program to solve the computational problem in a <font color='#ffff00'>natural</font> way.

* Let consider the following problem that we first write the Python code **procedurally**.

In [ ]:
from math import pi # now we can use pi as 3.14159..

# calcualte the circle's area
def area_circle(circle):
  return pi * circle['radius']**2

# calcualte the circle's circumference
def circumference_circle(circle):
  return 2 * pi * circle['radius']

# get the circle's color
def color_circle(circle):
  return circle['color']

# calcualte the square's area
def area_square(square):
  return square['side']**2

# calcualte the square's circumference
def circumference_square(square):
  return 4 * square['side']

# get the square's color
def color_square(square):
  return square['color']

print('Done..')

In [ ]:
# input a circle using dictionary
circle1 = {'radius': 10.0, 'color': 'red'}
circle2 = {'radius': 15.5, 'color': 'green'}
circle3 = {'radius': 20.0, 'color': 'blue'}

# input a square using dictionary
square1 = {'side': 5.0, 'color': 'yellow'}
square2 = {'side': 15.0, 'color': 'orange'}
square3 = {'side': 25.75, 'color': 'pink'}

print(f'Area of circle1 = {area_circle(circle1):.2f}')
print(f'Circumference of circle2 = {circumference_circle(circle2):.2f}')
print(f'Color of circle3 = {color_circle(circle3)}')
print()

print(f'Area of square1 = {area_square(square1):.2f}')
print(f'Circumference of square2 = {circumference_square(square2):.2f}')
print(f'Color of square3 = {color_square(square3)}')

* Now we will solve the same problem in an OOP way.

###Class

* In OOP, we first define a <font color='#00a3ff'>blueprint</font>, called <font color='#00ffff'>class</font> in which any new object built from that class should be.

In [ ]:
class class_name:
  class_body

* class_body consists of functions, called later <font color='ffff00'>methods</font>.
* An important method, `__init__`, called <font color='ffff00'>constructor</font>, helps create and initialize the new created object.
* <font color='ffff00'>Constructor method</font> gets `self` as the first parameter which represents the new created object itself.

In [ ]:
class Circle:
  """
    Text in this area, called 'docstring', can be served as class description,
    and be read by command 'help Circle'.
  """
  def __init__(self, color, radius):
    self.color = color
    self.radius = radius

print('Done..')
#help(Circle)

* We can also define the rest of <font color='ffff00'>utility methods</font> for an object in this class.

In [ ]:
from math import pi

class Circle:
  # Constructor
  def __init__(self, radius, color):
    # define an instance variable to keep radius
    self.radius = radius     
    # define another instance variable to keep color
    self.color = color 

  # calculate the circle's area
  def area(self):
    return pi * self.radius**2

  # calculate the circle's circumference
  def circumference(self):
    return 2 * pi * self.radius
    
  # get the color
  def get_color(self):
    return self.color

  print('Done..')

* Now we can create the above 3 circles using the class `Circle` blueprint that we have just defined.

In [ ]:
circle1 = Circle(10.0, 'red')
circle2 = Circle(15.5, 'green')
circle3 = Circle(20.0, 'blue')

* <font color='ffff00'>Instance method</font> definded by `Circle` class can be called, using `<obejctName>.<methodName>(<parameters>)`. Note that we can call object as instance, or wise versa.

In [ ]:
print(f'Area of circle1 = {circle1.area():.2f}')
print(f'Circumference of circle2 = {circle2.circumference():.2f}')
print(f'Color of circle3 = {circle3.get_color()}')

###Inheritance

* A <font color='00ffff'>child class</font> can inherite both <font color='ffff00'>properties</font> and <font color='ffff00'>methods</font> from its <font color='00ffff'>parent class</font>.
* Consider a parent class, called `Shape` that defines an instance variable `color` to keep the shape's color.
* So, both `Circle` and `Square` can inherite the `color` property and `get_color()` method from their parent class, as shown in the following sample code.

In [ ]:
# parent class defintion
class Shape: 
  def __init__(self, color):
    self.color = color

  def get_color(self):
    return self.color

print('Done..')

* We can define a new child class `Circle` that inherites from the existing parent class `Shape` like this.

In [ ]:
from math import pi

# child class
class Circle(Shape):
  def __init__(self, radius, color):
    # call parent's constructor to initialize the color variable
    super(Circle, self).__init__(color)
    # then we initial other variable
    self.radius = radius
  
  # calculate the circle's area
  def area(self):
    return pi * self.radius**2

  # calculate the circle's circumference
  def circumference(self):
    return 2 * pi * self.radius

  # no need to defind the get_color method, as we inherite it from the parent
  print('Done..')

In [ ]:
my_circle = Circle(10, 'red')
print(f'Area = {my_circle.area():.2f}')
print(f'Circumference = {my_circle.circumference():.2f}')
print(f'Color = {my_circle.get_color()}')

##Your exercise 12:

a) Following the above sample class `Circle`, finish the `Square` class defintion.

In [ ]:
# add you code as needed
class Square:
  # Constructor
  def __init__(self, __________ ):
    # define an instance variable to keep side
    __________    
    #define another instance variable to keep color
    __________
        
  # Calculate the square's area
  def area(self):
    __________
        
  # calculate the square's circumference
  def circumference(self):
    __________

  # get the coloe
  def get_color(self):
    __________

square1 = Square(5.0, 'yellow')
square2 = Square(15.0, 'orange')
square3 = Square(25.75, 'pink')

print(f'Area of square1 = {square1.area():.2f}')
print(f'Circumference of square2 = {square2.circumference():.2f}')
print(f'Color of square3 = {square3.get_color()}')
# put more codes to test your class defintion

b) Following the above inherite class `Circle`, finish the `Square` class definition.

In [ ]:
class Square(Shape):
    
  def __init__(self, side, color):
        
    # call the parent constructor to initialize the variable color
    __________
       
    # initialize the variable side
    __________
        
  # calculate the ares
  def area(self):
    __________
        
  # calculate the circumference
  def circumference(self):
    __________

# Put more codes here to test your class definition
# You may perhaps to redefine the parent class Shape too



---

##Supplementary Question (Advance level)

In [ ]:
# Load the Drive helper and mount
from google.colab import drive

# This will prompt for authorization
drive.mount('/content/drive')

In [ ]:
# After executing the above cell, files will be present in /content/drive/My Drive
!ls '/content/drive/My Drive'

In [ ]:
# Now, create a directory in your google drive, 
# e.g. /content/drive/My Drive/dat_training
# and define your path of the input files
data_path = '/content/drive/My Drive/data_training/'

In [ ]:
# open these Cities.csv and Countries.csv files
# (https://bit.ly/2vXdYfZ, https://bit.ly/2IBVfcL)
# download and save them to your Google Drive --> 'data_path'
DATA_CITIES = data_path + 'Cities.csv'
DATA_COUNTRIES = data_path + 'Countries.csv'

###Question:
1. Which is the western-most country with no coastline? 
* `Western-most country with no coastline is [Andorra] at 1.52 longtitude.`
2. Which are the two closest cities? 
* `Ciry [Ancona] in Italy is the closest city with [Sarajevo] in Bosnia and Herzegovina.`
---